@font-face {
    font-family:'news-cycle' ;
    src: url('../../assets/fonts/News_Cycle/NewsCycle-Regular.ttf');
}
@font-face {
    font-family:'news-cycle-bold' ;
    src: url('../../assets/fonts/News_Cycle/NewsCycle-Bold.ttf');
}