// Colors
$clr1: #ff8038;
$clr2: #003d52;
$clr3: #f5ede3;
$clr4:#c3c0c0;
$clr5:#084459;
$clr6:#161617;

// Breakpoints
$break-mobile: 400px;
$break-narrow: 480px;
$break-tablet: 620px;
$break-normal: 820px;
$break-large: 1100px;
$break-wide: 1300px;
