.opportunities-container {
    padding-inline: 7% 3%;
    position: relative;
    margin-bottom: 90px;
    .opportunities-content-container {
        background-color: $clr3;
        position: relative;
        display: flex;
        justify-content: flex-end;
        .opportunities-content-wrapper {
            max-width: 800px;
            display: flex;
            margin-right: 2%;
            gap: 50px;
            flex-direction: column;
            padding-inline-end: 4%;
            padding-block: 6% 10%;
            h2 {
                font-size: 2.5rem;
            }
            .opportunities-content {
                font-size: 1.125rem;
            }
        }
        .go-back-btn {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            bottom: 20px;
            right: 20px;
            @media screen and (min-width: 800px) {
                bottom: 50px;
                right: 50px;
            }
            border-radius: 50%;
            border: unset;
            background: transparent;
            cursor: pointer;
            &:hover {
                background-color: $clr4;
            }

            .arrow-back-svg {
                width: 40px;
                height: 40px;
            }
        }
    }
    .opportunities-img-container {
        display: none;
        @media (min-width: 1000px) {
            display: block;
            position: absolute;
            width: 30%;
            left: 0;
            top: -30px;
            .left-orange-line-svg {
                position: absolute;
                left: 32px;
                bottom: 34px;
                width: 45%;
            }
        }
        @media (min-width: 1400px) {
            width: 50%;
        }

        .red-flowers-svg {
            position: absolute;
            left: 0;
            top: 0;
            width: 47.5%;
            aspect-ratio: 1;
            transform: translate(-20%, -55%);
            z-index: 999;
            object-fit: contain;
        }
    }
}
