.program-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding-inline: 6%;
    h2 {
        font-size: 2.5rem;
    }
    .program-content-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 6%;
        .program-content {
            
            h3 {
                font-size: 1.625rem;
                margin-bottom: 20px;
                font-family: news-cycle-bold;
            }
            p {
                font-size: 1.125rem;
            }
        }
    }
}
