.program-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    position: relative;
    padding-inline: 7% 4%;
    margin-bottom: 100px;
    h2 {
        font-size: 2.5rem;
    }
    .program-content-container {
        display: grid;
        @media screen and (max-width: 900px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 5%;
        .program-content {
            h3 {
                font-size: 1.625rem;
                margin-bottom: 20px;
                font-family: news-cycle-bold;
            }
            p {
                font-size: 1.125rem;
            }
        }
    }
    .know-more-btn {
        margin-top: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        font-size: 1.125rem;
        gap: 5px;
        background-color: transparent;
        border: unset;
        cursor: pointer;
        &:hover {
            background-color: $clr4;
        }
        .arrow-right-svg {
            height: 20px;
            width: 20px;
        }
    }
    .program-flower {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(0%, 67%);
        width: 15%;
        z-index: -1;
    }

    .leaf-wrapper {
        display: flex;
        gap: 50px;
        position: absolute;
        left: 8%;
        top: -15%;
        z-index: -1;
    }
}
